@page
@model E_READINGSYSTEMS.Pages.Books.EditModel
@{
}

<br/>
<h2>Edit Patient</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>

    </div>
}
<form method="POST">
    <input type="hidden" name="BookID" value="@Model.BookInfo.BookID" />
    @*<div class="row mb-3">
        <label class="col-sm-3 col-form-label">BOOK ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="BookID" value="@Model.BookInfo.BookID" />
        </div>
    </div>*@

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Article Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ArticleName" value="@Model.BookInfo.ArticleName" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Article Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ArticleDescription" value="@Model.BookInfo.ArticleDescription" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Article Picture</label>
        <div class="col-sm-6">
            <input type="file" class="form-control" name="ArticlePicture" value="@Model.BookInfo.ArticlePicture" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Article Category</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ArticleCategory" value="@Model.BookInfo.ArticleCategory" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Article Content</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ArticleContent" value="@Model.BookInfo.ArticleContent" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">

            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>

                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="offset-sm-3 col-sm-3 d-grid">
            <a class="btn btn-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>